
:root {
    --bs-primary: #222222;
    --bs-secondary: #D9D9D9;
    --bs-body-bg: #777777;
}

.mask-phone::placeholder {
    color: white;
    opacity: 1;
}

@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}

.skeleton {
    animation: pulse 1.5s ease-in-out infinite;
}

